<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>The camera will be used if the user wants to take a picture of their meter to get the current kWh reading.</string>
	<key>API_URL</key>
	<string>$(API_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>DigitalNumbers-Regular.ttf</string>
	</array>
</dict>
</plist>
